*~
*.bk
jni_tests/java/com/example/rust
*.class
/cpp_tests/c++/rust_interface
/cpp_tests/c++/build
/cpp_tests/c++/build_with_boost
/cpp_tests/c++/build_sanitizers_dbg
target/
/macroslib/target/
.vscode
__pycache__/
.projectile-cache.eld
