*~
*.bk
jni_tests/java/com/example/rust
*.class
/cpp_tests/c++/rust_interface
/cpp_tests/c++/build
/cpp_tests/c++/build_with_boost
target/
/macroslib/target/
/dotnet_tests/flapigen_test_dotnet
/dotnet_tests/dotnet/bin/
/dotnet_tests/dotnet/obj/
/dotnet_tests/dotnet/*.dll
.vscode
Cargo.lock
/Cargo.toml
android-example/app/src/main/java/net/akaame/myapplication/JNIReachabilityFence.java
