language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
os:
  - linux
addons:
  apt:
    sources:
      - llvm-toolchain-precise-3.9
      - ubuntu-toolchain-r-test
    packages:
      - oracle-java8-set-default
      - llvm-3.9-dev
      - libclang-3.9-dev
      - python3
env: # specify the clang path for rust-bindgen
  - LIBCLANG_PATH=/usr/lib/llvm-3.9/lib
before_script:
    - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
        cargo install --vers 0.2.1 rustfmt-nightly;
      fi
script:
  - cd macroslib
  - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
      cargo fmt -- --write-mode diff;
    fi
  - cargo build -v
  - cargo test -v
  - cargo doc
  - cd ../jni_tests
  - cargo build -v
  - python3 run_tests.py
