dist: trusty
language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
os:
  - linux
cache: cargo
addons:
  apt:
    sources:
      - llvm-toolchain-trusty-5.0
      - ubuntu-toolchain-r-test
    packages:
      - oracle-java8-set-default
      - llvm-5.0-dev
      - libclang-5.0-dev
      - python3
      - build-essential
      - valgrind
before_script:
    - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
         export JAVA_HOME=$(/usr/libexec/java_home);
      else
         export LIBCLANG_PATH=/usr/lib/llvm-5.0/lib;
      fi
    - echo $JAVA_HOME
    - cmake --version
    - python --version
    - export TAR="boost_1_66_0.tar.gz"
    - travis_retry curl -L -o $TAR https://dl.bintray.com/boostorg/release/1.66.0/source/$TAR
    - tar -xzf $TAR
    - export BOOST_ROOT=$PWD/boost_1_66_0
script:
  - echo $RUSTC_WRAPPER
  - echo ${TRAVIS_RUST_VERSION}
  - ln -s workspace.Cargo.toml Cargo.toml
  - python ci_build_and_test.py --skip-android-tests
