language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
os:
  - linux
cache: cargo
addons:
  apt:
    sources:
      - llvm-toolchain-precise-3.9
      - ubuntu-toolchain-r-test
    packages:
      - oracle-java8-set-default
      - llvm-3.9-dev
      - libclang-3.9-dev
      - python3
      - cmake
      - build-essential
env: # specify the clang path for rust-bindgen
  - LIBCLANG_PATH=/usr/lib/llvm-3.9/lib
before_script:
    - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
        cargo install -f --vers 0.2.5 rustfmt-nightly;
      fi
script:
  - cd macroslib
  - echo ${TRAVIS_RUST_VERSION}
  - if [ "${TRAVIS_RUST_VERSION}" == "nightly" ]; then
      echo "check code style";
      cargo fmt -- --write-mode diff;
      cd ../jni_tests;
      cargo fmt -- --write-mode diff;
      cd ../android-example;
      cargo fmt -- --write-mode diff;
      cd ../macroslib;
    fi
  - cargo build -v
  - cargo test -v
  - cargo doc
  - cd ../jni_tests
  - cargo build -v
  - python3 run_tests.py --skip-android-test
  - cd ../c++_tests
  - cargo check
  - cd c++
  - mkdir build
  - cd build
  - cmake ..
  - make -j2 -k VERBOSE=1
  - ./c++-rust-swig-test
