environment:
  matrix:
  - TARGET: nightly-x86_64-pc-windows-msvc
  - TARGET: nightly-i686-pc-windows-msvc
  - TARGET: nightly-x86_64-pc-windows-gnu
  - TARGET: nightly-i686-pc-windows-gnu
  - TARGET: 1.16.0-x86_64-pc-windows-msvc
  - TARGET: 1.16.0-i686-pc-windows-msvc
install:
  - ps: if (ls -r . -fi "*.rs" | sls "`t") { throw "Found tab character" }
  - ps: Start-FileDownload "https://static.rust-lang.org/dist/rust-${env:TARGET}.exe" -FileName "rust-install.exe"
  - ps: .\rust-install.exe /VERYSILENT /NORESTART /DIR="C:\rust" | Out-Null
  - ps: $env:PATH="C:\Program Files\Java\jdk1.8.0\bin;$env:PATH;C:\rust\bin"
  - ps: $env:JAVA_HOME="C:\Program Files\Java\jdk1.8.0"
  - rustc -vV
  - cargo -vV
  - javac -version
build_script:
  - cd macroslib
  - cargo build
  - cd ..\jni_tests
  - cargo build
  - cd ..
test_script:
  - cd macroslib
  - cargo test
  - cd ..\jni_tests
  - cargo test
