[package]
name = "rust_swig"
version = "0.0.1"
authors = ["Evgeniy A. Dushistov <dushistov@mail.ru>"]

[dependencies]
syntex = "0.47.0"
syntex_syntax = "0.47.0"
syntex_pos = "0.47.0"
aster = {version = "0.32.0", features=["with-syntex"]}