.idea/
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
target/
app/src/main/libs/
app/src/main/java/net/akaame/myapplication/Session.java
app/src/main/java/net/akaame/myapplication/InternalPointerMarker.java

