[package]
name = "android"
version = "0.0.1"
authors = ["Evgeniy A. Dushistov <dushistov@mail.ru>"]
build = "build.rs"

[lib]
name = "mobcore"
crate-type = ["cdylib"]

[dependencies]
log = "0.3"
log-panics = "1.1.0"
android_logger = "0.3.0"

[build-dependencies]
bindgen = "0.33.1"
syntex = "0.58.1"
rust_swig = { path = "../macroslib" }
